.buttonNewPlayer {
  margin-bottom: 15px;
  margin-right: 12.5px;
}

.buttonNewMonster {
  margin-left: 12.5px;
}

.buttonStartPosition {
  position: absolute;
  bottom: 30px;
}

.buttonNewPlayer, .buttonStart, .buttonNewMonster {
  background-image: linear-gradient(to top, #aa5732, #ba6d41, #cb8252, #db9864, #ebae77);
  border: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 10px brown;
  color: beige;
  cursor: pointer;
  font-family: SuperMario256, monospace;
  font-size: 1rem;
  padding: 24px 20px 20px 20px;
  text-align: center;
}

.container {
  display: flex;
}

.margin50 {
  margin-right: 50px;
}

.buttonRemove {
  align-self: flex-end;
  background-color: transparent;
  color: red;
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

.opacity {
  opacity: 0.5;
}

.p {
  padding-top: 8px;
  padding-bottom: 2px;
}

.input, .inputMonster {
  border-radius: 3px;
  background-color: transparent;
  padding: 3px;
  color: rgb(63, 63, 63);
  margin-right: 5px;
}

.input {
  border: 1px solid #91bd41;
  background-color: #CBE896;
}

.inputMonster {
  border: 1px solid red;
  background-color: rgb(255, 120, 120);
  margin-top: 4px;
}