.buttonNewPlayer {
  background-image: linear-gradient(to top, #aa5732, #ba6d41, #cb8252, #db9864, #ebae77);
  border: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 10px brown;
  color: beige;
  cursor: pointer;
  font-family: SuperMario256, monospace;
  font-size: 1rem;
  padding: 24px 20px 20px 20px;
  text-align: center;
}

.container {
  display: flex;
}